<mat-card>
  <mat-card-title>
    <span *ngIf="question.id">Edit Current Question</span>
    <span *ngIf="!question.id">Add new Question</span>
  </mat-card-title>
  <mat-card-content>
    <form>

      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.text" name="question" matInput placeholder="Question">
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.correctAnswer" name="correctAnswer" matInput placeholder="Correct answer">
      </mat-form-field>


      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.wrongAnswer1" name="wrongAnswer1" matInput placeholder="Wrong answer1">
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.wrongAnswer2" name="wrongAnswer2" matInput placeholder="Wrong answer2">
      </mat-form-field>

      <mat-form-field class="fullWidth">
        <input [(ngModel)]="question.wrongAnswer3" name="wrongAnswer3" matInput placeholder="Wrong answer3">
      </mat-form-field>

      
    </form>  
  </mat-card-content>
  <mat-card-actions>
    <button (click)="post()" mat-button>Send</button>
    <button (click)="resetQuestion()" mat-button> New Question </button>
  </mat-card-actions>
</mat-card>
