<mat-card>
    <mat-card-title>
      <span *ngIf="quiz.id">Edit </span>
      <span *ngIf="!quiz.id">Add new </span>
    </mat-card-title>
    <mat-card-content>
      <form>
  
        <mat-form-field class="fullWidth">
          <input [(ngModel)]="quiz.title" name="quiz" matInput placeholder="Title">
        </mat-form-field>
  

  
        
      </form>  
    </mat-card-content>
    <mat-card-actions>
      <button (click)="post()" mat-button>Send</button>
      <button (click)="resetQuiz()" mat-button> New </button>
      <button (click)="navigateToQuestions()" mat-button>Questions</button>
    </mat-card-actions>
  </mat-card>
  